.promo {
    padding: 30px 0;
    overflow: hidden;
}

.promo__wrapper { //изучить это позиционирование!!!! flexy-frog
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo__content {
    padding-right: 65px;
}

.promo__title {
    margin: 0 0 30px;
    width: 550px;
}

.promo__text {
    max-width: 487px;
    margin: 0 0 45px;
    @extend %font-add;
    @include font ($size: 1.8rem, $weight: normal, $height: 2.8rem)
}

.promo_buttons>* {
    margin-right: 44px;
}

.promo_buttons {
    display: flex;
    align-items: center;
}
